<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4EA75F3A1F14AD090020F6E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EA75F531F14AD0A0020F6E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EA75F5E1F14AD0A0020F6E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
